<section class="small-12 medium-6 columns social-icons">
    <ul class="inline-list">
    <li><a href="https://twitter.com/m_wcislo" target="_blank">
        <img src="{{ site.urlimg }}/twitter.svg" height="30px" width="30px" /></a>
    </li>
    <li><a href="https://www.linkedin.com/in/michal-wcislo/" target="_blank">
        <img src="{{ site.urlimg }}/linkedin.svg" height="30px" width="30px" /></a>
    </li>
    <li><a href="https://github.com/m-wcislo" target="_blank">
        <img src="{{ site.urlimg }}/github.svg" height="30px" width="30px" /></a>
    </li>
    </ul>
</section>