---
layout: default
format: video
---
<!-- Twitter cards -->
<meta name="twitter:site"    content="@{{ site.twitter_username }}">
<meta name="twitter:creator" content="@{{ page.author }}">
<meta name="twitter:title"   content="{{ page.title }}">

{% if page.teaser %}
<meta name="twitter:description" content="{{ page.teaser }}">
{% else %}
<meta name="twitter:description" content="{{ site.description }}">
{% endif %}

{% if page.image %}
<meta name="twitter:card"  content="summary_large_image">
<meta name="twitter:image" content="{{ site.urlimg }}{{ page.image.title }}">
{% else %}
<meta name="twitter:card"  content="summary">
<meta name="twitter:image" content="{{ site.title_image }}">
{% endif %}
<!-- end of Twitter cards -->

<div class="row">
	<div class="small-12 columns">
		<article itemprop="video" itemscope itemtype="http://schema.org/VideoObject">
			<div class="flex-video">
				{{ page.iframe}}
			</div>

			<div class="row">
				<div class="medium-offset-2 medium-8 end columns">
					<header>
						{% if page.subheadline %}<p class="subheadline t30">{{ page.subheadline }}</p>{% endif %}
						<h1 itemprop="name">{{ page.title }}</h1>
					</header>

					{% if page.video.name %}<meta itemprop="name" content="{{ page.video.name }}" />{% endif %}
					{% if page.video.description %}<meta itemprop="description" content="{{ page.video.description }}" />{% endif %}
					{% if page.video.duration %}<meta itemprop="duration" content="{{ page.video.duration }}" />{% endif %}
					{% if page.video.uploadDate %}<meta itemprop="uploadDate" content="{{ page.video.uploadDate }}" />{% endif %}
					{% if page.video.thumbnailUrl %}<meta itemprop="thumbnailUrl" content="{{ page.video.thumbnailUrl }}" />{% endif %}
					{% if page.video.contentURL %}<meta itemprop="contentURL" content="{{ page.video.contentURL }}" />{% endif %}
					{% if page.video.embedURL %}<meta itemprop="embedURL" content="{{ page.video.embedURL }}" />{% endif %}

					{% if page.teaser %}
					<p class="teaser" itemprop="description">
						{{ page.teaser }}
					</p>
					{% endif %}

					{{ content }}
					{% if page.show_meta == true %}
					{% include _meta_information.html %}
					{% endif %}
				</div><!-- /.medium-8.columns -->
			</div><!-- /.row -->
		</article>

	</div><!-- /.small-12.columns -->
</div><!-- /.row -->
